<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>电影添加</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="/admin/css/font.css">
    <link rel="stylesheet" href="/admin/css/xadmin.css">
    <script type="text/javascript" src="/admin/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/admin/js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="layui-fluid">
        <div class="layui-row">
            <!-- 注意：如果要做文件上传，则必须使用  enctype="multipart/form-data" 使用 multer-->
            <!--http://www.expressjs.com.cn/en/resources/middleware/multer.html 1. 解析普通的表单提交，没有文件上传  2. 可以支持文件上传-->

            <!--没有文件上传：enctype="application/x-www-form-urlencoded" body-parser -->
            <!--http://www.expressjs.com.cn/en/resources/middleware/body-parser.html-->

            <form class="layui-form" method="POST" action="/admin/movie/add" enctype="application/x-www-form-urlencoded">
                <div class="layui-form-item">
                    <label for="moviename" class="layui-form-label">
                        <span class="x-red">*</span>电影名称</label>
                    <div class="layui-input-inline">
                        <input type="text" id="moviename" name="moviename" lay-verify="required" autocomplete="off"
                            class="layui-input">
                        </div>
                        <div class="layui-form-mid layui-word-aux">
                            <span class="x-red">*</span>请输入电影名称
                        </div>
                </div>

                <div class="layui-form-item">
                    <label for="director" class="layui-form-label">
                        <span class="x-red">*</span>导演</label>
                    <div class="layui-input-inline">
                        <input type="text" id="director" name="director" lay-verify="required" autocomplete="off"
                            class="layui-input"></div>
                </div>

                <div class="layui-form-item">
                    <label for="actors" class="layui-form-label">
                        <span class="x-red">*</span>演员</label>
                    <div class="layui-input-inline">
                        <input type="text" id="actors" name="actors" autocomplete="off" class="layui-input"></div>
                </div>

        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" for="submit-add"></label>
        <button id="submit-add" class="layui-btn" type="submit">增加</button>
    </div>
    </form>
    </div>
    </div>
    <script>

    </script>

</body>

</html>