// 这里编写公共的样式
@baseColor:#2c3e50;
// @tabsColor:#ff5f16;
body {
  font: 12px/1.5 Tahoma,Helvetica,Arial,sans-serif;
    font-family: Microsoft YaHei,Tahoma,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    color: @baseColor;
}
