<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>购物车页面</title>
    <link rel="stylesheet" href="style/base.css" type="text/css">
    <link rel="stylesheet" href="style/global.css" type="text/css">
    <link rel="stylesheet" href="style/header.css" type="text/css">
    <link rel="stylesheet" href="style/cart.css" type="text/css">
    <link rel="stylesheet" href="style/footer.css" type="text/css">

    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <!--默认帮我们实现了 计算总价功能-->
    <!--自己使用 vuejs 实现-->
    <!--<script type="text/javascript" src="js/cart1.js"></script>-->

</head>
<body>
<!-- 顶部导航 start -->
<div class="topnav">
    <div class="topnav_bd w990 bc">
        <div class="topnav_left">

        </div>
        <div class="topnav_right fr">
            <ul>
                <li>您好，欢迎来到京西！[<a href="login.html">登录</a>] [<a href="register.html">免费注册</a>]</li>
                <li class="line">|</li>
                <li>我的订单</li>
                <li class="line">|</li>
                <li>客户服务</li>

            </ul>
        </div>
    </div>
</div>
<!-- 顶部导航 end -->

<div style="clear:both;"></div>

<!-- 页面头部 start -->
<div class="header w990 bc mt15">
    <div class="logo w990">
        <h2 class="fl"><a href="index.html"><img src="images/logo.png" alt="京西商城"></a></h2>
        <div class="flow fr">
            <ul>
                <li class="cur">1.我的购物车</li>
                <li>2.填写核对订单信息</li>
                <li>3.成功提交订单</li>
            </ul>
        </div>
    </div>
</div>
<!-- 页面头部 end -->

<div style="clear:both;"></div>

<!-- 主体部分 start -->
<div class="mycart w990 mt10 bc" id="app">
    <h2><span>我的购物车</span></h2>
    <table>
        <thead>
        <tr>
            <th>
                <!--全选：取决于所有的商品的状态-->
                <input type="checkbox" v-model="allItemStatus"> all
            </th>
            <th class="col1">商品名称</th>
            <th class="col2">商品信息</th>
            <th class="col3">单价</th>
            <th class="col4">数量</th>
            <th class="col5">小计</th>
            <th class="col6">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="ele in cartList">
            <td>
                <!--复选框：v-model 1. 数组 2. Boolean-->
                <input type="checkbox" v-model="ele.isSelected">
            </td>
            <td class="col1"><a href=""><img :src="ele.goodsImg" alt=""/></a> <strong><a href="">{{ ele.goodsName }}</a></strong>
            </td>
            <td class="col2">{{ ele.descption }}</td>
            <td class="col3">{{ ele.price }}</td>
            <td class="col4">
                <a href="javascript:;" @click="dePrice(ele)" class="reduce_num"></a>
                <input type="text" name="amount" v-model="ele.goodsNumber" class="amount"/>
                <a href="javascript:;" @click="ele.goodsNumber++" class="add_num"></a>
            </td>
            <td class="col5">￥<span>{{ ele.price * ele.goodsNumber | processPrice }}</span></td>
            <td class="col6"><a href="javascript:;" @click="removeItem(ele)">删除</a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="7">购物金额总计： <strong>￥ <span id="total">{{ totalPrice | processPrice }}</span></strong></td>
        </tr>
        </tfoot>
    </table>
    <div class="cart_btn w990 bc mt10">
        <a href="" class="continue">继续购物</a>
        <a href="" class="checkout">结 算</a>
    </div>
</div>
<!-- 主体部分 end -->

<div style="clear:both;"></div>
<!-- 底部版权 start -->
<div class="footer w1210 bc mt15">
    <p class="links">
        <a href="">关于我们</a> |
        <a href="">联系我们</a> |
        <a href="">人才招聘</a> |
        <a href="">商家入驻</a> |
        <a href="">千寻网</a> |
        <a href="">奢侈品网</a> |
        <a href="">广告服务</a> |
        <a href="">移动终端</a> |
        <a href="">友情链接</a> |
        <a href="">销售联盟</a> |
        <a href="">京西论坛</a>
    </p>
    <p class="copyright">
        © 2005-2013 京东网上商城 版权所有，并保留所有权利。 ICP备案证书号:京ICP证070359号
    </p>
    <p class="auth">
        <a href=""><img src="images/xin.png" alt=""/></a>
        <a href=""><img src="images/kexin.jpg" alt=""/></a>
        <a href=""><img src="images/police.jpg" alt=""/></a>
        <a href=""><img src="images/beian.gif" alt=""/></a>
    </p>
</div>
<!-- 底部版权 end -->
</body>
</html>
<!--1. vuejs 引入-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
   var vm = new Vue({
       el:'#app',
       data:{
        cartList:[
            {
                id:1,
                'goodsName':'xxx衣服',
                'goodsImg': 'images/cart_goods2.jpg',
                'Description':"xxx衣服很好看",
                'goodsNumber':160,
                'goodsprice':299
            },
            {
                id:2,
                'goodsName':'xxx衣服',
                'goodsImg': 'images/cart_goods3.jpg',
                'Description':"xxx衣服很好看",
                'goodsNumber':128,
                'goodsprice':199
            },
            {
                id:3,
                'goodsName':'xxx衣服',
                'goodsImg': 'images/cart_goods4.jpg',
                'Description':"xxx衣服很好看",
                'goodsNumber':132,
                'goodsprice':168
            },
            {
                id:4,
                'goodsName':'xxx衣服',
                'goodsImg': 'images/cart_goods5.jpg',
                'Description':"xxx衣服很好看",
                'goodsNumber':15,
                'goodsprice':96
            }
        ],  
       }
   })
</script>